<a href="https://colab.research.google.com/github/butler-julie/GDSVirtualTutorials/blob/main/032825_IntroToDS/DataExplorationAndVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration and Visualization

## An Introduction to Data Science with Python Libraries

In [1]:
# THIRD PARTY IMPORTS
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import the data from a TSV file as a Pandas dataframe
# Note this file is imported directly from the Github page via the URL
nuclear_data = pd.read_csv("https://raw.githubusercontent.com/butler-julie/DataExplorationAndVisualization/main/nuclear_data.tsv", 
                           sep="\t")

# Print the DataFrame
# Note that the last time of a code cell will be printed even without a print statement
nuclear_data

        N    Z    A  EL        BE    BEd           MASS    MASSd
0       1    0    1   n       0.0    0.0  1008664.91582  0.00049
1       0    1    1   H       0.0    0.0  1007825.03224  0.00009
2       1    1    2   H  1112.283  0.000  2014101.77811  0.00012
3       2    1    3   H  2827.265  0.000  3016049.28199  0.00023
4       1    2    3  He  2572.680  0.000  3016029.32265  0.00022
...   ...  ...  ...  ..       ...    ...            ...      ...
3431  176  117  293  Eh     7095#     3#     293208680#     870#
3432  175  118  293  Ei     7077#     2#     293213498#     753#
3433  177  117  294  Eh     7092#     2#     294210974#     708#
3434  176  118  294  Ei     7079#     2#     294214132#     712#
3435  177  118  295  Ei     7075#     2#     295216332#     692#

[3436 rows x 8 columns]